.detail_div {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 130px; */
    padding: 100px;
}

.detail_section {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.detail_section .productImg {
    width: 100%;
    height: 100%;

}

.detail_section .productImg img {
    width: 100%;
    height: 100%;
}

.detail_section .productInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: center;
}

.productInfo .productName {
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.productInfo .price {
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 50px;
}

.productInfo .unit {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.delivery {
    width: 150px;
    height: 20px;
    margin-bottom: 20px;
}

.delivery p {
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}

.line {
    width: 600px;
    height: 2px;
    background: #c4c4c4;
    margin-bottom: 30px;
}

.amount {
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-bottom: 30px;
}

.amount .minus {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    cursor: pointer;
}

.amount .count {
    position: absolute;
    width: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #c4c4c4;
    border-top: none;
    border-bottom: none;
}

.amount .count span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amount .plus {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    cursor: pointer;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sum .sumPrice {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
}

.sum .total {
    font-size: 18px;
    line-height: 23px;
    color: #767676;
}

.sum .totalCount {
    font-size: 18px;
    line-height: 23px;
    color: black;
}

.sum .totalCount::after {
    content: "|";
    width: 5px;
    height: 23px;
    color: #c4c4c4;
    padding: 0px 11px;
}

.sum .totalPrice {
    font-size: 36px;
    line-height: 45px;
    color: black;
}

.sum .totalUnit {
    font-size: 18px;
    line-height: 23px;
    color: black;
}

.btn .btnBuy {
    width: 416px;
    height: 60px;
    border-radius: 5px;
    background: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #ffffff;
    margin-right: 44px;
}

/* .btn .btnBuy:hover {
    background-color: grey;
    color: black;
} */

.detail_section .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn .btnCart {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background: grey;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #ffffff;
}

/* .btn .btn_cart:hover {
    color: black;
    background: lightgrey;
} */

.desc {
    margin-top: 140px;
}

.detail_section .detail {
    border: 1.5px solid black;
    font-size: 15px;
    display: block;
    padding: 20px;
    white-space: normal; /*강제 줄바꿈 코드 -> 세부사항이 길 때 블록 안에 다 들어오게끔,,*/
}

@media (max-width: 1440px) {
    .detail_div {
    flex-direction: column;
    }

    .detail_section {
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    /* margin-top: 60px; */
    }

    .sum .totalPrice {
    font-size: 24px;
    }

    .sum .sumPrice {
    margin-right: 24px;
    }

    .btn {
    justify-content: center;
    }
    .btn .btnBuy {
    width: 70%;
    }

    .btn .btnCart {
    width: 30%
    }

    .line {
    width: 80%;
    }

    .productInfo .price {
    margin-bottom: 50px;
    }
}

@media (max-width: 380px) {
    .btn .btnCart,
    .btn .btnBuy {
    font-size: 14px;
    }

    .productInfo .productName,
    .productInfo .price,
    .sum .totalPrice {
    font-size: 20px;
    }

    .sum {
    display: block;
    }

}