.cart_title {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 54px;
  }
  
  .cart_tab {
    max-width: 1280px;
    height: 60px;
    border-radius: 10px;
    background: #f2f2f2;
    margin: 0 auto;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
  
  .cart_tab span {
    background: #f2f2f2;
  }
  
  .cart_tab input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #19ce60;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
  }
  
  .cart_tab input[type="checkbox"]:checked {
    background: #19ce60;
    border: none;
  }
  