.menu_header {
    /* display: fixed; */
    margin: 0;
    padding:0;
}

.menu_header ul {
    display: inline-block;
    
}

.menu_header ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

.category {
    font : normal normal 20px Times New Roman;
    padding: 0px 380px 0px 30px;
}
.personal {
    font : normal normal 20px Times New Roman;
    padding: 0px 0px 0px 380px;
}
#main_title {
    font : normal normal 50px Times New Roman;
    text-shadow: 3px 3px 2px black;
    text-align: center;
    font-weight: 900;
    font : normal normal 50px Times New Roman;
    color: black;
    padding: 0px 0px 50px 0px; 
}

