/* 버튼 */
.shopNow {
    background-color: transparent;
    font-weight: 50;
    font : normal normal 30px Times New Roman;
    color: white;
    border: 1px solid white;
    box-shadow: none;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    width: 170px;
    transform: translate(-50%, -50%);
}

.shopNow:hover {
    background-color: rgb(20, 19, 19);
    border: 1px solid white;
}

/* Exception; 타이틀 */
.title {
    text-align: center;
    font-weight: 900;
    font : normal normal 50px Times New Roman;
    color: white;
}

body {
    background-image: url('../../../public/images/backgroundimage/startbackgroundimage.png');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}